$fa-font-path: "../../node_modules/font-awesome/fonts";
$blue1: #367CD6;
$blue2: #183968;
$blue3: #4A90E2;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';

html{
    height: 100%;
}

body{
    background: #367cd6;
    background: -moz-linear-gradient(top, #367cd6 0%, #183968 100%, #7db9e8 100%);
    background: -webkit-linear-gradient(top, #367cd6 0%,#183968 100%,#7db9e8 100%);
    background: linear-gradient(to bottom, #367cd6 0%,#183968 100%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367cd6', endColorstr='#7db9e8',GradientType=0 );
    font-family: "OpenSans";
}

article{
  &.center{

  }
}

.cloud1{
  position: absolute;
  top: 55%;
  left: 25%;
  margin-top: -121px;
  margin-left: -64px;
  width: 242px;
  height: 129px;
  z-index: 100;
}

.cloud2{
  position: absolute;
  top: 38%;
  left: 70%;
  margin-top: -76px;
  margin-left: -41px;
  width: 152px;
  height: 82px;
  z-index: 100;
}

.container{
  &.weatherContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -190px;
    margin-left: -300px;
    height: 380px;
    overflow: hidden;
    background: $blue3;
    border-radius: 10px;
    width: 600px !important;
    padding: 10px;
    -webkit-box-shadow: -3px -2px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -3px -2px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -3px -2px 11px 0px rgba(50, 50, 50, 0.75);



    .search{
      input{
        width: 100%;
        font-size: 1.5em;
        font-weight: lighter;
        background: $blue3;
        border: none;
        border-bottom: darkgray 1px solid;
        color: white;
        outline:none;
        &::placeholder{
          color: white;
        }
      }
    }

    .currentForecast{
      color: white;
      width: 600px;


      .currentTemp{
        font-size: 6.5em;
        font-weight: 100;
      }

      .currentDescription{
        .container-fluid{
          font-size: 2em;
          text-transform: capitalize;
        }
      }
    }

    .FiveDayWeather{
      background: white;
      width: 600px;
      border-radius-bottomleft: 10px;
      border-radius-bottomright: 10px;


      .forecast{
        border-right: lightgray 1px solid;
        &:last-child{
          border-right: none;
        }
         .flex-column{
            span{
              text-align: center;
              padding-top: 1px !important;
              padding-bottom: 1px !important;

              &.date{
                color: gray;
              }



              &.maxTemp{
                color: $blue2;
                font-weight: bolder;
                font-size: 1.5em;
              }

              &.minTemp{
                color: gray;
              }
            }
         }
      }
    }

  }

}
